<div class = "menu-page" *ngIf="authService.currentUser">
	<div class="user-options">
		<p>Bem vindo, {{ authService.currentUserName }}</p>
		<button id="btn-gold" type="button" class="btn btn-info" (click)="goToBoosters()">Ouro: {{playerGold}}</button>
		<button id="btn-deslogar" type="button" class="btn btn-danger" (click)="logout()">Deslogar</button>
	</div>
	<div class="tab">
		<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link active">Jogar</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" routerLink="/decks">Baralhos</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" routerLink="/boosters">Pacotes</a>
		  </li>
		</ul>
	</div>
	<div class="menu-base menu-play">
		<button id="btn-procurar-partida" type="button" class="btn btn-success" (click)="createMatch()">Criar partida</button>
		<p-dialog [class] = "matchStatus" [(visible)]="displayMatch" id="matchInfoBox">
				    {{matchInfoText}}
		</p-dialog>
		<div id="matchesListBox">
			<div id="matchesTitle">Partidas disponíveis</div>
			<div id="matchesList">
				<div *ngFor="let match of matchesList" id="eachMatch" (mouseenter)="showMatchInfo(match['id'])" (mouseleave)="hideMatchInfo()" (click)="enterMatch(match['id'])">
					Match ID : {{match['id'] | json}}
				</div>
			</div>
		</div>
	</div>
</div>
