<div class = "deck-page" *ngIf="authService.currentUser">
	<div class="user-options">
		Bem vindo, {{ authService.currentUserName }}
		<button id="btn-deslogar" type="button" class="btn btn-danger" (click)="logout()">Deslogar</button>
	</div>
	<div class="tab">
		<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link" routerLink="/menu">Jogar</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active">Baralhos</a>
		  </li>
		</ul>
	</div>
	<div class="menu-deck">
		<h2>Selecione um baralho</h2>
		<div class="alert alert-info" role="alert" [hidden] = "!chooseDefaultDeckTime" id="alert">
  			<strong>Clique em um baralho para torná-lo padrão!</strong>
		</div>
		<div class="deck-grid">
			<div class="deck-image"><h4>Deck 1</h4><img [src]= "deck1ImagePath" id="deck1" (click)="checkClickDeck1()"/></div>
			<div class="deck-image"><h4>Deck 2</h4><img [src]= "deck2ImagePath" id="deck2" (click)="checkClickDeck2()"/></div>
			<div class="deck-image"><h4>Deck 3</h4><img [src]= "deck3ImagePath" id="deck3" (click)="checkClickDeck3()"/></div>
			<div class="deck-image"><h4>Deck 4</h4><img [src]= "deck4ImagePath" id="deck4" (click)="checkClickDeck4()"/></div>
			<div class="deck-image"><h4>Deck 5</h4><img [src]= "deck5ImagePath" id="deck5" (click)="checkClickDeck5()"/></div>
		</div>
		<button id="btn-baralho-padrao" type="button" class="btn btn-success" (click)="defaultDeck()" [disabled] = "chooseDefaultDeckTime">Escolher baralho padrão</button>
	</div>
</div>
